* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

/* Main */
/* header part */
.header {
    background: rgba(255, 144, 14, 0.1);
    min-height: 100vh;
}

/* Section-1 */
.section-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px 0px 0;
    margin-bottom: 105px;

}

.header-title h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
    column-gap: 25px;
}

nav ul li {
    list-style-type: none;
}

.nav-list {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #424242;

}

/* ............
banner section
.............. */
.banner {
    width: 860px;
    height: 220px;
    /* padding-left: 200px; */
    /* border: 2px solid seagreen; */
    align-items: center;
    margin-left: 20%;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #131313;
    margin-bottom: 25px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;

}

/* Explore button */
.explore-1 {
    width: 180px;
    height: 54px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
    border-radius: 7px;
    margin-left: 40%;
    margin-top: 32px;


}

/* //////
banner-image
////////// */

.banner-image img {
    width: 65%;
    height: 500px;
    border-radius: 8px;
    margin: 0 250px 0 220px;
    margin-top: 50px;
    margin-bottom: 45px;
}

/* team section */
.team {
    display: flex;
}

.team-image {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    /* border: 3px solid green; */
    margin-left: 200px;
}

.team-image img {
    height: 342px;
    width: 342px;
}

.sub-team {

    width: 50%;
    margin-top: 200px;
    padding: 0 27px 0px 31px;


}

#span-1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;

}

#span-2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

#span-3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;

}

.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: left;
    margin-top: 32px;
}

/* Explore button */

.explore-2 {
    width: 180px;
    height: 54px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
    border-radius: 7px;
    margin-top: 32px;


}

/* feature lists and Architect image section
............................................. */

.section-3 {
    width: 100%;
    height: 1059px;
    margin-top: 130px;

}

.feature-list-architect {
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
}

.feature-list {
    width: 586px;
    height: 800px;

    padding-top: 30px;
}

.feature-list-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

    padding-left: 20px;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
    margin-top: 24px;
}

.features {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.features-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 20px;
}

.feature-1,
.feature-2,
.feature-3,
.feature-4 {
    /* border: 1px solid wheat; */
    width: 586px;
    height: 171px;
    padding: 30px 42px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.architect-img-button {
    margin-left: -40px;
    z-index: 50%;
}

.architect-img img {
    width: 630px;
    height: 900px;
    margin-left: 70px;
    margin-bottom: -126px;

    border-radius: 8px;

}

/* experience-button   */

.btn {

    width: 50%;

}

.experience-button {
    width: 300px;
    height: 180px;
    font-weight: 500;
    font-size: 25px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    border: none;


}

#style {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin-top: -100px;
    width: 258px;
    height: 109px;

}

/* Section-4  */
.some-fact{
    margin-top: 130px;
    width: 552px;
    height: 130px;
    
    margin-left: 200px;
}


.section-4-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.section-4-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;

}

/* company info */

.company-info {
    display: flex;
    /* gap: 125px; */
    /* width: 1200px; */
    
    padding: 0px 200px;
    justify-content: space-between;
    margin-top: 100px;
}

.info {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    /* transform: rotate(90deg); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 45px 35px 60px 35px; */
}

.number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 0px 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30%;

}

.info-description {
    width: 88%;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    padding-right: 30px;
    /* border: 1px solid gold; */
    margin: auto;
    margin-left: 20%;
}

#info-icon {
    margin: 45px 50px 0px 50px;
    margin-left: 35%;
}
.info-description-4{
    width: 88%;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    padding-right: 30px;
    margin-left: 25%;

}